.navbar{
  width: 100vw;
  height:60px;
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
}

.navbar ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  gap:20px;
  padding: 0 20px;
}

.leaflet-container{
  height: 100%;
  width: 100%;
  z-index: 1;

}

/* .map{
  width: 100vw;
  height: 50vh;
  position: relative;
  top: 10px;
} */

.dashboard-container{
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100vh;
  gap:20px;
  padding:15px;
};


.dashboard-container select{
  padding-bottom: 2vw
}


.line-chart,.bar-chart,.stacked,.area-chart,.map-container{
  background-color: rgb(8, 8, 8);
  border-radius: 5px;
  padding: 5px;
  /* margin: 10px; */
  /* border:1px solid red; */
  overflow: hidden;
}

.map-container{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:3;
  overflow: hidden;
}

.bar-chart{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  overflow: scroll;
 
}
.line-chart{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end:4 ;overflow: auto;}

.area-chart{
  grid-column-start:3;
  grid-column-end:4 ;
  grid-row-start: 1;
  grid-row-end:3;
  overflow: visible;
}

.stacked{
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:5;
  grid-row-end:7;
  overflow: scroll;
}

.leaflet-control{
  display: flex;
  background-color: rgb(255, 255, 255);
}

.leaflet-control input{
  outline: none;
  border: none;
  padding: 5px;
}
.leaflet-control button{
 display: none;
}